/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY OWN STYLES FROM HERE */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

a:visited {
    color: #fff;
}

#screen {
    position: fixed; /* or "absolute" */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

/* HEADER */

#header {
    height: 10%;
    background-color: #474747;
    display: flex;
    border-bottom: solid 1px #000;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.title {
    font-size: 2em;
    font-family: 'Bruno Ace';
    color: #e8f901;
}

#main {
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

/* COVER */

.glowing-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 3em;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.glowing-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(76, 175, 80, 0.6);
}

@keyframes glowing2 {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(76, 175, 80, 0.2);
    }
    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(76, 175, 80, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(76, 175, 80, 0.2);
    }
}

.glowing-button {
    animation: glowing2 2s infinite;
}

/* COVER SHIPS */

#carrier-shape {
    position: absolute;
    width: 180px;
    height: 60px;
    top: 20%;
    animation: move-right-left 10s linear infinite; /* adjust the time as needed */
    z-index: 1;
}

@keyframes move-right-left {
    0% { right: -100%; } /* Start from off the right of the screen */
    100% { right: 100%; } /* End off the left of the screen */
}

#submarine-shape {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 20%;
    transform: rotate(90deg);
    animation: move-top-down 10s linear infinite;
    z-index: 1;
}

@keyframes move-top-down {
    0% { top: -200px }
    100% { top: 1500px}
}

#battleship-shape {
    position: absolute;
    width: 150px;
    height: 60px;
    top: 65%;
    animation: move-left-right 10s linear infinite; /* adjust the time as needed */
    z-index: 1;
}

@keyframes move-left-right {
    0% { left: -100%; } /* Start from off the left of the screen */
    100% { left: 100%; } /* End off the right of the screen */
}

#destroyer-shape {
    position: absolute;
    width: 120px;
    height: 60px;
    transform: rotate(270deg);
    left: 80%;
    animation: move-down-top 10s linear infinite;
    z-index: 1;
}

@keyframes move-down-top {
    0% { top: 1500px; }
    100% { top: -200px; }
}

#patrol-shape {
    position: absolute;
    width: 90px;
    height: 60px;
    transform: rotate(180deg);
    top: 90%;
    animation: move-right-left 10s linear infinite;
    z-index: 1;
}

/* MAIN - GAME */

.playerSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 5em;
}

.gameHeader {
    width: 440px;
    font-size: 1.5em;
    font-family: 'Bruno Ace';
    color: #fff;
    padding: 10px;
    text-align: center;
}

#userGameHeader {
    background-color: #FC1159;
}

#computerGameHeader{
    background-color: #727D95;
}

.gameboardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xHeader {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 2.5em;
}

.xHeaderSquare {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace';
    font-size: 1em;
}

.bottomBoard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.yHeader {
    display: flex;
    flex-direction: column;
}

.yHeaderSquare {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace';
    font-size: 1em;
}

.yHeaderShipyard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace';
    font-size: 1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    rotate: 180deg;
    margin-top: 1.8em;
}

.gridPanelContainer {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboardGrid {
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#userGameboardGrid {
    position: relative;
    cursor: pointer;
}

#userGameboardGrid.blocked {
    cursor: default;
}

.gameboardSquare {
    width: 36px;
    height: 36px;
    border: solid 1px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace';
    font-size: 1em;
    cursor: inherit;
    background-color: #a1dcff;
}

#userGameboardGrid .hover {
    background-color: #999999;
    opacity: 0.7;
}

#userGameboardGrid .occupied {
    background-color: #999999;
    opacity: 1;
}

#userGameboardGrid .hoverLimitsExceeded {
    background-color: #c23434;
}

#computerGameboardGrid .gameboardSquare:hover {
    background-color: #1b88e7;
}

#computerGameboardGrid.blocked .gameboardSquare:hover {
    background-color: #a1dcff;
    cursor: default;
}

/* SHIPYARD */

.statusPanel {
    width: 382px;
    height: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 36px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(0, 0, 0, 0.5) 2px, transparent 2px);
    background-size: 38px 38px;
    gap: 2px;
}

.carrier {
    width: 188px;
    height: 36px;
}

.battleship {
    width: 150px;
    height: 36px;
}

.submarine {
    width: 112px;
    height: 36px;
}

.destroyer {
    width: 112px;
    height: 36px;
}

.boat {
    width: 74px;
    height: 36px;
}

.userShip {
    cursor: pointer;
    opacity: 0.7;
}

.userShip:hover {
    opacity: 1;
}

.userShip.no-hover:hover {
    opacity: 0.7;
    cursor: default;
}

.userShip.selected {
    opacity: 1;
}

.userShip.placed {
    opacity: 1;
    cursor: default;
}

@keyframes glowing {
    0% { color: #FC1159; }
    50% { color: #000; }
    100% { color: #FC1159; }
  }

.instructions {
    width: 100%;
    font-family: 'Bruno Ace';
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: glowing 1.5s linear infinite;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.placementButton {
    width: 180px;
    height: 50px;
    border: solid 1px #fff;
    background-color: #4CAF50;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
}

.placementButton:hover {
    background-color: #3e8e41;
}

#start-game-button {
    width: 180px;
    height: 50px;
    border: solid 1px #fff;
    background-color: #4CAF50;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
}

#start-game-button:hover {
    background-color: #3e8e41;
}

.computerInfo {
    width: 100%;
    font-family: 'Bruno Ace';
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

#footer {
    height: 10%;
    background-color: #474747;
    display: flex;
    border-top: solid 1px #000;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.credits {
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8em;
    text-align: center;
}

/* Style the link to remove default styling */
.github-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* Add the hover effect */
.github-icon {
    transition: transform 0.5s ease-in-out; /* Add a transition for the transform property */
}

.github-link:hover .github-icon {
    transform: rotate(180deg); /* Rotate the icon 180 degrees when hovered */
}